body {
  font-family: Arial;
  background: #f4f4f4;
  padding: 40px;
}

.container {
  display: flex;
  gap: 40px;
}

.order-summary, .delivery-form {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button {
  background: #ff6600;
  color: white;
  border: none;
  padding: 12px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

button:hover {
  background: #e65c00;
}

/* #toast {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: green;
  color: white;
  padding: 12px 20px;
  border-radius: 5px;
  display: none;
} */


#orderItems img{
   width: 100px;
  height: 80px;
  object-fit: cover;
  border-radius: 10px;
}