body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  margin: 0;
  padding: 0;
}

.profile-container {
  max-width: 800px;
  margin: 40px auto;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.user-info p {
  font-size: 16px;
}

.profile-actions {
  margin: 20px 0;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.profile-actions button {
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: #ff6600;
  color: white;
  font-size: 14px;
}

/* .hidden{
  display: none;
} */
.profile-actions button:hover {
  opacity: 0.9;
}

.logout-btn {
  background: #e74c3c;
}

.card {
  background: #fafafa;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 6px;
  border-left: 4px solid #ff6600;
}

