body {
     min-height: calc(100vh - 160px);
  background: 
    linear-gradient(rgba(250,250,240,0.92), rgba(250,250,240,0.92)),
  url("https://images.unsplash.com/photo-1511578314322-379afb476865?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w3NDE5ODJ8MHwxfHNlYXJjaHw5fHxldmVudCUyMHBsYW5uaW5nfGVufDB8fHx8MTc2MzcwMTQwMnww&ixlib=rb-4.1.0&q=80&w=1080")
   center/cover no-repeat fixed;
}

.reserve-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);
}

.reserve-card {
  background: #fbf8d9;
  max-width: 900px;
  width:100%;
  padding: 35px 40px;
  border-radius: 14px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}

.reserve-card h2 {
  text-align: center;
  margin-bottom: 6px;
}

.subtitle {
  text-align: center;
  font-size: 14px;
  color: #555;
  margin-bottom: 25px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 22px;
}

label {
  font-size: 13px;
  font-weight: 600;
}

input {
  width: 100%;
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-top: 4px;
}

input:focus {
  outline: none;
  border-color: #7aa55b;
}

.btn-wrap{
    text-align: right;
}
.submit-btn {
  
  margin-top: 22px;
  /* width: 100%; */
  padding: 12px;
  border: none;
  background: #9db37c;
  color: white;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
}


.submit-btn:hover {
  background: #9dd376;
}


/* #toast {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  padding: 16px 22px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  display: none;
  text-align: center;
}

#toast.show {
  display: block;
} */