* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f7f7f7;
}

.admin-container {
  display: flex;
  min-height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 240px;
  background: #111;
  color: #fff;
  padding: 20px;
}

.sidebar .logo {
  margin-bottom: 30px;
}

.sidebar nav a {
  display: block;
  color: #ccc;
  text-decoration: none;
  padding: 12px;
  border-radius: 6px;
  margin-bottom: 8px;
}

.sidebar nav a:hover,
.sidebar nav a.active {
  background: #9db37c;
  color: #fff;
}




.menu-form {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 10px;
  max-width: 600px;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
  gap: 20px;
  margin-top: 30px;
}

.menu-card {
  background: #fff;
  padding: 14px;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0,0,0,.08);
}

.menu-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.menu-card button {
  background: #dc3545;
  color: #fff;
  border: none;
  padding: 6px;
  border-radius: 6px;
  width: 100%;
}


.sidebar {
  width: 240px;
  background: #111;
  color: #fff;
  padding: 20px;
}

.sidebar .logo {
  margin-bottom: 30px;
}

.sidebar nav a {
  display: block;
  color: #ccc;
  text-decoration: none;
  padding: 12px;
  border-radius: 6px;
  margin-bottom: 8px;
}

.sidebar nav a:hover,
.sidebar nav a.active {
  background: #9db37c;
  color: #fff;
}
